# DSCI 525: Milestone 1 Group 20

## Group Members
- Lauren Zung
- Xinru Lu
- Spencer Gerlach

# Part 1 & 2: Contract & Repo

- Completed by Lauren Zung

# Part 3: Downloading the Data

- Spencer Gerlach

In [1]:
# Imports

import re
import os
import glob
import zipfile
import requests
from urllib.request import urlretrieve
import json
import pandas as pd

- Change directory to location files stored.

- Assuming we can't save data to our repo.

> Will need to be updated depending on who is running the notebook

In [2]:
%cd data

/Users/lzung/Documents/GitHub/DSCI-525/DSCI_525_group_20/notebooks/data

In [3]:
# Complete metadata required for API request

article_id = 14096681
url = f"https://api.figshare.com/v2/articles/{article_id}"
headers = {"Content-Type": "application/json"}
output_directory = "figshare-nswrain" # update depending on user

In [4]:
# GET request

response = requests.request("GET", url, headers=headers)
data = json.loads(response.text)
files = data["files"]
files

[{'id': 26579150,
  'name': 'daily_rainfall_2014.png',
  'size': 58863,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579150',
  'supplied_md5': 'fd32a2ffde300a31f8d63b1825d47e5e',
  'computed_md5': 'fd32a2ffde300a31f8d63b1825d47e5e'},
 {'id': 26579171,
  'name': 'environment.yml',
  'size': 192,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26579171',
  'supplied_md5': '060b2020017eed93a1ee7dd8c65b2f34',
  'computed_md5': '060b2020017eed93a1ee7dd8c65b2f34'},
 {'id': 26586554,
  'name': 'README.md',
  'size': 5422,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26586554',
  'supplied_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c',
  'computed_md5': '61858c6cc0e6a6d6663a7e4c75bbd88c'},
 {'id': 26766812,
  'name': 'data.zip',
  'size': 814041183,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766812',
  'supplied_md5': 'b517383f76e77bd03755a63a8ff83ee9',
  'computed_md5': 'b517383f76e77bd03755a63a8ff83ee9'},
 {'id': 26766815,
  'name': 'get_data.py',
  'size': 4113,
  'is_link_only': False,
  'download_url': 'https://ndownloader.figshare.com/files/26766815',
  'supplied_md5': '7829028495fd9dec9680ea013474afa6',
  'computed_md5': '7829028495fd9dec9680ea013474afa6'}]

- Now, download the file `data.zip`

In [5]:
%%time
files_to_dl = ["data.zip"]
for file in files:
    if file["name"] in files_to_dl:
        os.makedirs(output_directory, exist_ok=True)
        # Download data.zip
        urlretrieve(file["download_url"], output_directory + "/" + file["name"])

CPU times: user 2.87 s, sys: 3.21 s, total: 6.08 s
Wall time: 42.6 s

In [6]:
%%time
# Unzip the files
with zipfile.ZipFile(os.path.join(output_directory, "data.zip"), "r") as f:
    f.extractall(output_directory)

CPU times: user 12.5 s, sys: 1.86 s, total: 14.3 s
Wall time: 14.7 s

In [7]:
# check all the file names
%ls -ltr figshare-nswrain

total 12062744
-rw-r--r--   1 lzung  staff  814041183 31 Mar 18:46 data.zip
-rw-r--r--   1 lzung  staff   95376895 31 Mar 18:46 MPI-ESM-1-2-HAM_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff   94960113 31 Mar 18:46 AWI-ESM-1-1-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff   82474546 31 Mar 18:46 NorESM2-LM_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  127613760 31 Mar 18:46 ACCESS-CM2_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  232118894 31 Mar 18:46 FGOALS-f3-L_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  330360682 31 Mar 18:46 CMCC-CM2-HR4_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  254009247 31 Mar 18:46 MRI-ESM2-0_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  235661418 31 Mar 18:46 GFDL-CM4_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  294260911 31 Mar 18:46 BCC-CSM2-MR_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  295768615 31 Mar 18:46 EC-Earth3-Veg-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  328852379 31 Mar 18:46 CMCC-ESM2_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff   67784105 31 Mar 18:46 NESM3_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff   95640682 31 Mar 18:46 MPI-ESM1-2-LR_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  114707410 31 Mar 18:46 ACCESS-ESM1-5_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  116179272 31 Mar 18:46 FGOALS-g3_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  102517965 31 Mar 18:46 INM-CM4-8_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  515458033 31 Mar 18:46 MPI-ESM1-2-HR_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  332813281 31 Mar 18:47 TaiESM1_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  337555851 31 Mar 18:47 NorESM2-MM_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  328787320 31 Mar 18:47 CMCC-CM2-SR5_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff     952202 31 Mar 18:47 observed_daily_rainfall_SYD.csv
-rw-r--r--   1 lzung  staff   93829697 31 Mar 18:47 KIOST-ESM_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  102692289 31 Mar 18:47 INM-CM5-0_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  206822938 31 Mar 18:47 MIROC6_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff   55224437 31 Mar 18:47 BCC-ESM1_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  124586961 31 Mar 18:47 GFDL-ESM4_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff   46286371 31 Mar 18:47 CanESM5_daily_rainfall_NSW.csv
-rw-r--r--   1 lzung  staff  333489879 31 Mar 18:47 SAM0-UNICON_daily_rainfall_NSW.csv
drwxr-xr-x  30 lzung  staff        960 31 Mar 18:47 __MACOSX/

# Part 4: Combine the Files with Python

- Spencer Gerlach

In [8]:
df_test = pd.read_csv("figshare-nswrain/AWI-ESM-1-1-LR_daily_rainfall_NSW.csv")
df_test.head()

,time,lat_min,lat_max,lon_min,lon_max,rain (mm/day)
0,1889-01-01 12:00:00,-35.439867,-33.574619,141.5625,143.4375,3.129635e-02
1,1889-01-02 12:00:00,-35.439867,-33.574619,141.5625,143.4375,1.083881e-13
2,1889-01-03 12:00:00,-35.439867,-33.574619,141.5625,143.4375,1.056313e-13
3,1889-01-04 12:00:00,-35.439867,-33.574619,141.5625,143.4375,1.080510e-13
4,1889-01-05 12:00:00,-35.439867,-33.574619,141.5625,143.4375,9.914916e-14

In [9]:
df_test2 = pd.read_csv("figshare-nswrain/ACCESS-CM2_daily_rainfall_NSW.csv")
df_test2.head()

                  time  lat_min  lat_max  lon_min  lon_max  rain (mm/day)
0  1889-01-01 12:00:00   -36.25    -35.0  140.625    142.5   3.293256e-13
1  1889-01-02 12:00:00   -36.25    -35.0  140.625    142.5   0.000000e+00
2  1889-01-03 12:00:00   -36.25    -35.0  140.625    142.5   0.000000e+00
3  1889-01-04 12:00:00   -36.25    -35.0  140.625    142.5   0.000000e+00
4  1889-01-05 12:00:00   -36.25    -35.0  140.625    142.5   1.047658e-02

- From these results, we can now proceed with reading and combining all CSVs (except `observed_daily_rainfall_SYD.csv`).

- Use columns from the test CSVs above

In [10]:
%%time
# Combine into one CSV
files = glob.glob('figshare-nswrain/*.csv') 

# Manually removed observed_daily_rainfall_SYD.csv from the data folder
df = pd.concat((pd.read_csv(file).assign(model=re.findall("/([^_]*)", file)[0]) for file in files))

df.to_csv("figshare-nswrain/combined_data.csv") # Use relative path

CPU times: user 6min, sys: 14.6 s, total: 6min 14s
Wall time: 6min 15s

### Part 4: Time Taken to Combine CSV files

| Team Member | Operating System | RAM | Processor | Is SSD | Time Taken |
|-------------|------------------|-----|-----------|--------|------------|
|  Spencer    |   MacOS 12.6     |  8  | intel i5  |   Yes  |  16m 5s    |
|  Xinru      |   MacOS 13.2     | 16  | Apple M2  |   Yes  |  3m 50s    |
|  Lauren     |   MacOS 13.2     | 16  | Apple M2  |   Yes  |  6m 15s    |

> It seems that the M2 processor is significantly faster than the Intel i5 when combining CSV files, reducing the wait time by almost 10 minutes. There were differences between both M2 systems despite identical specs which is likely due to the number of parallel applications running on our machines.

# Part 5: Load the combined CSV to memory and perform a simple EDA

- Xinru Lu

1. Load just columns that we want
2. Changing dtype of the data

In [11]:
import numpy as np

# local path to combined data (to be updated per user)
combined_data_path = 'figshare-nswrain/combined_data.csv'

# define column dtypes and columns to load
column_dtype = {'lat_min': np.float32, 'lat_max': np.float32, 'lon_min': np.float32, 'lon_max': np.float32, 'model': str}
use_columns = ['time', 'lat_min', 'lat_max', 'lon_min', 'lon_max', 'rain (mm/day)', 'model']

In [12]:
%%time

# Load combined CSV by loading only relevant columns
df = pd.read_csv(combined_data_path, parse_dates=['time'], usecols=use_columns)
print(df[['lat_min', 'lat_max', 'lon_min', 'lon_max']].describe())

            lat_min       lat_max       lon_min       lon_max
count  5.924854e+07  6.246784e+07  5.924854e+07  6.246784e+07
mean  -3.310482e+01 -3.197757e+01  1.469059e+02  1.482150e+02
std    1.963549e+00  1.992067e+00  3.793784e+00  3.809994e+00
min   -3.646739e+01 -3.600000e+01  1.406250e+02  1.412500e+02
25%   -3.486911e+01 -3.366221e+01  1.434375e+02  1.450000e+02
50%   -3.300000e+01 -3.204188e+01  1.468750e+02  1.481250e+02
75%   -3.140170e+01 -3.015707e+01  1.501875e+02  1.513125e+02
max   -2.990000e+01 -2.790606e+01  1.537500e+02  1.556250e+02
CPU times: user 1min 8s, sys: 15.6 s, total: 1min 24s
Wall time: 1min 29s

In [13]:
%%time

# Load combined CSV by changing data type
df = pd.read_csv(combined_data_path, dtype=column_dtype, parse_dates=['time'])
print(df[['lat_min', 'lat_max', 'lon_min', 'lon_max']].describe())

            lat_min       lat_max       lon_min       lon_max
count  5.924854e+07  6.246784e+07  5.924854e+07  6.246784e+07
mean  -3.310497e+01 -3.197765e+01  1.469058e+02  1.482150e+02
std    1.963549e+00  1.992067e+00  3.793784e+00  3.809994e+00
min   -3.646739e+01 -3.600000e+01  1.406250e+02  1.412500e+02
25%   -3.486911e+01 -3.366221e+01  1.434375e+02  1.450000e+02
50%   -3.300000e+01 -3.204189e+01  1.468750e+02  1.481250e+02
75%   -3.140170e+01 -3.015707e+01  1.501875e+02  1.513125e+02
max   -2.990000e+01 -2.790606e+01  1.537500e+02  1.556250e+02
CPU times: user 1min 5s, sys: 10.2 s, total: 1min 16s
Wall time: 1min 17s

### Part 5: Time Taken to Load CSV files

**Loading only relevant columns**
| Team Member | Operating System | RAM | Processor | Is SSD | Time Taken |
|-------------|------------------|-----|-----------|--------|------------|
|  Spencer    |   MacOS 12.6     |  8  | intel i5  |   Yes  |       |
|  Xinru      |   MacOS 13.2     | 16  | Apple M2  |   Yes  |      |
|  Lauren     |   MacOS 13.2     | 16  | Apple M2  |   Yes  |  1m 29s    |

**Changing dtype**
| Team Member | Operating System | RAM | Processor | Is SSD | Time Taken |
|-------------|------------------|-----|-----------|--------|------------|
|  Spencer    |   MacOS 12.6     |  8  | intel i5  |   Yes  |       |
|  Xinru      |   MacOS 13.2     | 16  | Apple M2  |   Yes  |      |
|  Lauren     |   MacOS 13.2     | 16  | Apple M2  |   Yes  |  1m 17s    |

> [insert description here]

# Part 6: Perform a simple EDA in R

- Lauren Zung

We would use **Arrow exchange** since it helps with minimizing the time-consuming serialization/deserialization process by reading data in parallel/chunks.

In [14]:
%load_ext rpy2.ipython

In [21]:
import pyarrow.dataset as ds
import pyarrow as pa
import pandas as pd
import pyarrow 
from pyarrow import csv
import rpy2_arrow.pyarrow_rarrow as pyra

In [45]:
filepathcsv = "figshare-nswrain/combined_data.csv"

In [46]:
%%time
dataset = ds.dataset(filepathcsv, format="csv")

# Converting the `pyarrow dataset` to a `pyarrow table`
table = dataset.to_table()

# Converting a `pyarrow table` to a `rarrow table`
r_table = pyra.converter.py2rpy(table)

CPU times: user 20.4 s, sys: 1.72 s, total: 22.1 s
Wall time: 21.1 s

In [74]:
%%R -i r_table
suppressMessages(library(dplyr))

result <- r_table |>
    select(lat_min, lat_max, lon_min, lon_max, `rain (mm/day)`, model) |>
    collect()

print(result)

# A tibble: 62,513,863 × 6
   lat_min lat_max lon_min lon_max `rain (mm/day)` model
     <dbl>   <dbl>   <dbl>   <dbl>           <dbl> <chr>
 1   -35.4   -33.6    142.    143.        4.24e-13 MPI-ESM-1-2-HAM
 2   -35.4   -33.6    142.    143.        4.22e-13 MPI-ESM-1-2-HAM
 3   -35.4   -33.6    142.    143.        4.50e-13 MPI-ESM-1-2-HAM
 4   -35.4   -33.6    142.    143.        4.25e-13 MPI-ESM-1-2-HAM
 5   -35.4   -33.6    142.    143.        4.27e-13 MPI-ESM-1-2-HAM
 6   -35.4   -33.6    142.    143.        4.20e-13 MPI-ESM-1-2-HAM
 7   -35.4   -33.6    142.    143.        4.19e-13 MPI-ESM-1-2-HAM
 8   -35.4   -33.6    142.    143.        4.56e-13 MPI-ESM-1-2-HAM
 9   -35.4   -33.6    142.    143.        2.53e+ 0 MPI-ESM-1-2-HAM
10   -35.4   -33.6    142.    143.        4.12e- 2 MPI-ESM-1-2-HAM
# ℹ 62,513,853 more rows
# ℹ Use `print(n = ...)` to see more rows

In [76]:
%%time
%%R -i r_table
start_time <- Sys.time()
suppressMessages(library(dplyr))

result <- r_table |>
    select(lat_min, lat_max, lon_min, lon_max, `rain (mm/day)`, model) |>
    collect() |>
    group_by(model) |>
    summarize(avg_rainfall = mean(`rain (mm/day)`))

print(result)
end_time <- Sys.time()
print(end_time - start_time)

# A tibble: 28 × 2
   model            avg_rainfall
   <chr>                   <dbl>
 1 ACCESS-CM2               1.79
 2 ACCESS-ESM1-5            2.22
 3 AWI-ESM-1-1-LR           2.03
 4 BCC-CSM2-MR              1.95
 5 BCC-ESM1                 1.81
 6 CMCC-CM2-HR4             2.28
 7 CMCC-CM2-SR5             2.38
 8 CMCC-ESM2                2.27
 9 CanESM5                  1.89
10 EC-Earth3-Veg-LR         1.52
# ℹ 18 more rows
# ℹ Use `print(n = ...)` to see more rows
Time difference of 6.499636 secs
CPU times: user 4.96 s, sys: 1.23 s, total: 6.19 s
Wall time: 6.51 s

## Challenges While Dealing with Large Data